<html>
<head>
    <title>
        success form
    </title>
    <style>
                body{
    background:url('2.jpg');
    background-size:100% 620px;
    padding-top:80px;
    padding-left:100px;
   padding-right:70px;
}
.nav{
background:url('2.jpg');

    color:white;
    font-size: 30px;
   padding-top:10px;
   padding-left:45px;
   padding-right:40px;
    background:#A533FF;
    width:800px;
    height:auto;
    margin: auto;
    border-radius: 10px;
    opacity: .9;

}

    </style>
</head>
<body>
    <div class="nav">
        <form>
            <h1>User register sccessfully!try<a href="login.html"> login</a></h1>

        </form>
    </div>
</body>
</html>

